:root {
    --main-color-amarillo: #ffc000;
    --main-color-magenta: #ff005d;
    --main-color-morado: #673ab7;
    --main-color-cyan: #06b0d7;
}

*, body {
    font-family: "Cairo Regular", sans-serif!important;
}

/* ! FONDOS */
.bg-amarillo{
    background-color: var(--main-color-amarillo);
    transition: 0.3s all ease-in;
}
.bg-magenta{
    background-color: var(--main-color-magenta);
    transition: 0.3s all ease-in;
}
.bg-morado{
    background-color: var(--main-color-morado);
    transition: 0.3s all ease-in;
}
.bg-cyan{
    background-color: var(--main-color-cyan);
    transition: 0.3s all ease-in;
}

.bg-hover-amarillo:hover{
    background-color: var(--main-color-amarillo);
}
.bg-hover-magenta:hover{
    background-color: var(--main-color-magenta);
}
.bg-hover-morado:hover{
    background-color: var(--main-color-morado);
}
.bg-hover-cyan:hover{
    background-color: var(--main-color-cyan);
}

/* ! BORDES */
.border-amarillo{
    border-color: var(--main-color-amarillo);
    transition: 0.3s all ease-in;
}
.border-magenta{
    border-color: var(--main-color-magenta);
    transition: 0.3s all ease-in;
}
.border-morado{
    border-color: var(--main-color-morado);
    transition: 0.3s all ease-in;
}
.border-cyan{
    border-color: var(--main-color-cyan);
    transition: 0.3s all ease-in;
}
.border-hover-amarillo:hover{
    border-color: var(--main-color-amarillo);
}
.border-hover-magenta:hover{
    border-color: var(--main-color-magenta);
}
.border-hover-morado:hover{
    border-color: var(--main-color-morado);
}
.border-hover-cyan:hover{
    border-color: var(--main-color-cyan);
}

